# Build files
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Binaries
bin/
*.out
*.exe
*.o
*.obj
*.a
*.so
*.dll

# Workspaces and runtime data
workspaces/*.txt

# Tests outputs
tests/cliTests/*.out.txt

# macOS system files
.DS_Store

# IDE files
.idea/
.vscode/

# Thumbnails and presentation
style/
